In [1]:
import csv
dataset = list(csv.reader(open("grades.csv", encoding = 'utf-8')))

In [2]:
dataset

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Humza', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danial', '63', '77', '82']]

In [3]:
dataset[0].append('Total')

In [4]:
dataset[0].index('Chemistry')

2

In [5]:
dataset[0].index('Physics')

3

In [6]:
dataset[0].index('Math')

4

In [7]:
for i in dataset[1:]:
    chem = int(i[2])
    phy = int(i[3])
    math = int(i[4])
    total = chem + phy + math
    i.append(total)

In [8]:
dataset

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Total'],
 ['101', 'Aliza', '50', '23', '87', 160],
 ['102', 'Fareed', '45', '24', '88', 157],
 ['103', 'Basit', '46', '25', '89', 160],
 ['104', 'Abdullah', '47', '26', '90', 163],
 ['105', 'Ali', '48', '27', '67', 142],
 ['106', 'Mubashir', '49', '28', '68', 145],
 ['107', 'Waleed', '50', '29', '69', 148],
 ['108', 'Mansoor', '51', '30', '70', 151],
 ['109', 'Zain', '52', '31', '71', 154],
 ['110', 'Mohsin', '53', '67', '72', 192],
 ['111', 'Shahmeer', '54', '68', '73', 195],
 ['112', 'Rao', '55', '69', '74', 198],
 ['113', 'Aurangzeb', '56', '70', '75', 201],
 ['114', 'Zeeshan', '57', '71', '76', 204],
 ['115', 'Humza', '58', '72', '77', 207],
 ['116', 'Hamza', '59', '73', '78', 210],
 ['117', 'Khalid', '60', '74', '79', 213],
 ['118', 'Behroz', '61', '75', '80', 216],
 ['119', 'Justin', '62', '76', '81', 219],
 ['120', 'Danial', '63', '77', '82', 222]]

In [9]:
dataset[0].append("Percentage")

In [10]:
dataset

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Total', 'Percentage'],
 ['101', 'Aliza', '50', '23', '87', 160],
 ['102', 'Fareed', '45', '24', '88', 157],
 ['103', 'Basit', '46', '25', '89', 160],
 ['104', 'Abdullah', '47', '26', '90', 163],
 ['105', 'Ali', '48', '27', '67', 142],
 ['106', 'Mubashir', '49', '28', '68', 145],
 ['107', 'Waleed', '50', '29', '69', 148],
 ['108', 'Mansoor', '51', '30', '70', 151],
 ['109', 'Zain', '52', '31', '71', 154],
 ['110', 'Mohsin', '53', '67', '72', 192],
 ['111', 'Shahmeer', '54', '68', '73', 195],
 ['112', 'Rao', '55', '69', '74', 198],
 ['113', 'Aurangzeb', '56', '70', '75', 201],
 ['114', 'Zeeshan', '57', '71', '76', 204],
 ['115', 'Humza', '58', '72', '77', 207],
 ['116', 'Hamza', '59', '73', '78', 210],
 ['117', 'Khalid', '60', '74', '79', 213],
 ['118', 'Behroz', '61', '75', '80', 216],
 ['119', 'Justin', '62', '76', '81', 219],
 ['120', 'Danial', '63', '77', '82', 222]]

In [11]:
for i in dataset[1:]:
    chem = int(i[2])
    phy = int(i[3])
    math = int(i[4])
    total_marks = chem+phy+math
    per = (total_marks/300)*100
    per = round(per)
    i.append(per)

In [12]:
dataset

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Total', 'Percentage'],
 ['101', 'Aliza', '50', '23', '87', 160, 53],
 ['102', 'Fareed', '45', '24', '88', 157, 52],
 ['103', 'Basit', '46', '25', '89', 160, 53],
 ['104', 'Abdullah', '47', '26', '90', 163, 54],
 ['105', 'Ali', '48', '27', '67', 142, 47],
 ['106', 'Mubashir', '49', '28', '68', 145, 48],
 ['107', 'Waleed', '50', '29', '69', 148, 49],
 ['108', 'Mansoor', '51', '30', '70', 151, 50],
 ['109', 'Zain', '52', '31', '71', 154, 51],
 ['110', 'Mohsin', '53', '67', '72', 192, 64],
 ['111', 'Shahmeer', '54', '68', '73', 195, 65],
 ['112', 'Rao', '55', '69', '74', 198, 66],
 ['113', 'Aurangzeb', '56', '70', '75', 201, 67],
 ['114', 'Zeeshan', '57', '71', '76', 204, 68],
 ['115', 'Humza', '58', '72', '77', 207, 69],
 ['116', 'Hamza', '59', '73', '78', 210, 70],
 ['117', 'Khalid', '60', '74', '79', 213, 71],
 ['118', 'Behroz', '61', '75', '80', 216, 72],
 ['119', 'Justin', '62', '76', '81', 219, 73],
 ['120', 'Danial', '63', '77', '82', 222, 74]]

In [14]:
## To find average of chemistry, physics and math
chemistry = []
physics = []
mathematics = []
for i in dataset[1:]:
    chem = int(i[2])
    phy = int(i[3])
    math = int(i[4])
    chemistry.append(chem)
    physics.append(phy)
    mathematics.append(math)

In [16]:
sum(chemistry)/len(chemistry)

53.8

In [17]:
sum(physics)/len(physics)

51.75

In [18]:
sum(mathematics)/len(mathematics)

77.3